.menu {
    border-bottom: 1px solid orange;
    text-align: right;
}

.menu-logo {
    float: left;
}

.menu-search-input {
    padding: 13px;
    height: 40px;
    border: 0;
    background-color: lightgray;
    color: white;
    width: 300px;
}

.menu-search-submit {
    padding: 13px;
    height: 40px;
    border: 0;
    background-color: darkorange;
    color: white;
}