.menu {
    border-bottom: 1px solid orange;
}

.menu-logo {
    float: left;
}

.menu-search-input {
    padding: 13px;
    height: 50px;
    margin-left: 200px;
    border: 0;
    background-color: lightgray;
    color: white;
}

.menu-search-submit {
    padding: 13px;
    height: 50px;
    border: 0;
    background-color: darkorange;
    color: white;
}